<div class="card" *ngIf="product">
  <h3 class="card-header">Event Form</h3>
  <div class="card-block">
    <form>
      <fieldset>
        <div class="form-group">
          <label for="nome">Evento Nome</label>
          <input type="text" class="form-control" id="name" placeholder="Enter Event Name" [(ngModel)]="product.nome" name="nome">
        </div>
        <div class="form-group">
          <label for="id">Evento Local</label>
          <input type="text" class="form-control" id="local" placeholder="Enter Event Local" [(ngModel)]="product.local" name="local">
        </div>
        <div class="form-group">
          <label for="id">Evento Descricao</label>
          <input type="text" class="form-control" id="descricao" placeholder="Enter Event Description" [(ngModel)]="product.descricao" name="descricao">
        </div>
        <div class="form-group">
          <label for="id">Evento Data</label>
          <input type="text" class="form-control" id="data" placeholder="Enter Event Date" [(ngModel)]="product.data" name="data">
        </div>
        <div class="form-group">
          <label>Upload Image</label>
          <input required accept=".jpg" id="file" name="file" type="file" >
       </div>
        <div *ngIf="addProduct==false">
          <button type="submit" class="btn btn-primary" (click)="updateProduct()">Update</button>
          <button type="submit" class="btn btn-danger" (click)="deleteProduct()">Delete</button>
        </div>
        <div *ngIf="addProduct==true">
          <button type="submit" class="btn btn-primary" (click)="addNew()">Add</button>
        </div>
      </fieldset>
    </form>
    <p *ngIf="msg" class="text-success">{{msg}}</p>
    <p *ngIf="msg1" class="text-danger">{{msg1}}</p>
  </div>
</div>
